<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main" side="start" menuId="custom">
      <ion-header>
        <ion-toolbar class="user-profile">

          <ion-item margin-bottom>
            <ion-avatar slot="start" class="user-avatar">
              <img src="assets/img/avatar.jpg">
            </ion-avatar>
            <ion-label>
              <ion-text color="medium">
                <h1><strong>Antonio Manuel</strong></h1>
              </ion-text>
              <ion-text color="secondary">
                <h3>
                  Jerez de la Frontera, Españaa
                </h3>
              </ion-text>
              <ion-menu-toggle class="mto" auto-hide="false">
                <a class="text08" tappable (click)="editPerfil()">
                  <ion-text color="medium">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <strong>Perfil</strong>
                  </ion-text>
                </a> <ion-text color="secondary"> | </ion-text> 
                <a class="text08" tappable (click)="logout()">
                  <ion-text color="medium">
                    <ion-icon name="log-out"></ion-icon>
                    <strong>Cerrar sesion</strong>
                  </ion-text>
                </a>
              </ion-menu-toggle>
            </ion-label>
          </ion-item>

        </ion-toolbar>
      </ion-header>

      <ion-content class="bg-profile">
        <ion-list>
          <ion-list-header>
            <ion-label color="secondary">Menu</ion-label>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="medium"></ion-icon>
              <ion-label color="medium">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
</ion-app>
